<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/resources/estilos.css">

    <title></title>
</head>

<body>

    <div class="contenedor">


        <div class="img-fluid" alt="Responsive image">
            <img id="logo" src="/images/logo3.png" class="img-fluid" alt="Responsive image">
        </div>





        <div id="formularios">
            <form id="entrar">
                <span id="tituloform">Login:</span>
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Introduce tu ID de usuario" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">Entrar</button>
                    </div>
                </div>
            </form>


            <form id="registro">
                <span id="tituloform">¿Todavía no te has registrado?</span>
                <div class="form-group">
                    <label id="campo" for="formGroupExampleInput">Nombre</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introduce tu nombre">
                </div>
                <div class="form-group">
                    <label id="campo" for="formGroupExampleInput2">Fecha de Nacimiento</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="AAAA-MM-DD    (Ejemplo: 1996-05-22)">
                </div>
                <div class="form-group">
                    <label id="campo" for="formGroupExampleInput2">Ciudad de Residencia</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="¿Dónde vives?">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-success" id="botonregistrarse" type="button">Regístrate AHORA</button>
                </div>
            </form>







        </div>









    </div>



    <script src="/js/bootstrap.js"></script>
</body></html>
