<!-- @author Luis -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>lucaTinder</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />


<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/resources/assets/css/main.css}" />
<link rel="stylesheet" th:href="@{/resources/assets/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/resources/assets/css/misestilos.css}" />
<script src="/resources/assets/js/jquery.min.js"></script>
<script src="/resources/assets/js/jquery.scrolly.min.js"></script>
<script src="/resources/assets/js/browser.min.js"></script>
<script src="/resources/assets/js/breakpoints.min.js"></script>
<script src="/resources/assets/js/util.js"></script>
<script src="/resources/assets/js/main.js"></script>
</head>
<body class="is-preload">
	<!-- Header -->
	<section id="header" class="dark">
		<header>
			<img id="logoprincipal" src="/resources//images/logo3.png">
		</header>
		<footer> </footer>
	</section>
	<!-- First -->
	<section id="first" class="main">
		<header> </header>
		<div class="content dark style1 featured">
			<div class="container">


				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Nombre</th>
							<th>Edad</th>
							<th>Población</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${userList}">
							<td><a
								th:href="@{/dislike(id1=${usuariologin.id},id2=${user.id})}">
									<button type="button" class="btn btn-danger">DisLike</button>
							</a></td>

							<td><span th:text="${user.nombre}"></span></td>
							<td><span th:text="${user.edad}"></span></td>
							<td><span th:text="${user.poblacion}"></span></td>
							<td><a
								th:href="@{/like(id1=${usuariologin.id},id2=${user.id})}"><button
										type="button" class="btn btn-success">Like</button></a></td>
						</tr>

					</tbody>
				</table>




				<!--   <tr>
						<th>Nombre</th>
						<th>Población</th>
						<th>Fecha de Nacimiento</th>
						

					</tr>
					<tr th:each="user:${userList}">

						<li class="list-group-item"><a
							th:href="@{/dislike(id1=${usuariologin.id},id2=${user.id})}">
								<button type="button" class="btn btn-danger">DisLike</button>
						</a>


							<td><span th:text="${user.nombre}"></span></td>
							<td><span th:text="${user.poblacion}"></span></td>
							<td><span th:text="${user.edad}"></span></td>
							 <a
							th:href="@{/like(id1=${usuariologin.id},id2=${user.id})}"><button
									type="button" class="btn btn-success">Like</button></a></li>
									
					</tr>
					
				-->


			</div>
		</div>
	</section>
	<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span
					class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span
					class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span
					class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands fa-dribbble"><span
					class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon brands fa-github"><span
					class="label">GitHub</span></a></li>
		</ul>
		<div class="copyright">
			<ul class="menu">
				<li>&copy; lucaTic - Grupo 01. Formación 18</li>
				<br>
				<li>Desing by: <br> Luis A. Ibáñez Rubio<br> Andreea
					Iliescu<br>Raúl Algar Navarro<br> Pablo Tortosa
				</li>
			</ul>
		</div>
	</section>

</body>
</html>