<!-- @author Luis -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>lucaTinder</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />



<link rel="stylesheet" th:href="@{/resources/assets/css/main.css}" />
<link rel="stylesheet" th:href="@{/resources/assets/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/resources/assets/css/misestilos.css}" />
<script src="/resources/assets/js/jquery.min.js"></script>
<script src="/resources/assets/js/jquery.scrolly.min.js"></script>
<script src="/resources/assets/js/browser.min.js"></script>
<script src="/resources/assets/js/breakpoints.min.js"></script>
<script src="/resources/assets/js/util.js"></script>
<script src="/resources/assets/js/main.js"></script>
</head>
<body class="is-preload">
	<!-- Header -->
	<section id="header" class="dark">
		<header>
			<img id="logoprincipal" src="/resources//images/logo3.png">
		</header>
		<footer> </footer>
	</section>
	<!-- First -->
	<section id="first" class="main">
		<header> </header>
		<div class="content dark style1 featured">
			<div class="container">

				<ul class="list-group">
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						
						<button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<button type="button" class="btn btn-success">Success</button></li>
				
				<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						
						<button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						
						<button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						
						<button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
				   <button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button"class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						
						<button type="button" class="btn btn-success">Success</button></li>
					
					<li class="list-group-item"><button type="button" class="btn btn-danger">Danger</button>

						<div class="card">
							<img class="card-img-top" src="/images/pathToYourImage.png"
								alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">Card title</h4>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<button type="button" class="btn btn-success">Success</button></li>
				</ul>


			</div>
		</div>
	</section>
	<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span
					class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span
					class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span
					class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands fa-dribbble"><span
					class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon brands fa-github"><span
					class="label">GitHub</span></a></li>
		</ul>
		<div class="copyright">
			<ul class="menu">
				<li>&copy; lucaTic - Grupo 01. Formación 18</li>
				<br>
				<li>Desing by: <br> Luis A. Ibáñez Rubio<br> Andreea
					Iliescu<br>Raúl Algar Navarro<br> Pablo Tortosa
				</li>
			</ul>
		</div>
	</section>

</body>
</html>