<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>lucaTinder</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/misestilos.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <section id="header" class="dark">
        <header>
            <img id="logoprincipal" src="images/logo3.png">
        </header>
        <footer>


          
          
           
           
            <div class="card">

                <div class="container">
                    <div class="row">

                        <div class="col-sm-8" id="columna1">

                            <ul id="listadatosusuario">
                                <li id="idusuarioperfil">Id Usuario:</li>
                                <li>Nombre: </li>
                                <li>Fecha de nacimiento:</li>
                                <li>Género:</li>
                                <li>Población:</li>
                            </ul>
                            <p><span id="titulodescripcion">Descripción</span></p>
                            <p id=descripcionusuario>Esta es la descripción del usuario(máximo 300 caracteres)</p>
                            <!-- Content -->
                        </div>

                        <div class="col-sm-4">
                            <img class="card-img-top" src="images/iconousuario.jpg" alt="Card image cap">
                            <a href="#" class="button scrolly" id="botonregistro2">Modificar perfil</a>
                            
                            <!-- Content -->
                        </div>

                    </div>
                </div>








            </div>

<ul class="nav nav-pills nav-justified" id="barranavusuario">
  <li class="nav-item">
    <a href="#" class="button scrolly" id="botonregistro2">Buscar Gente</a>
  </li>
  <li class="nav-item">
    <a href="#" class="button scrolly" id="botonregistro2">Mis Ligues</a>
  </li>
  <li class="nav-item">
   <a href="/index.html" class="button scrolly" id="botonregistro2">Cerrar Sesión</a>
    
  </li>
</ul>


        </footer>
    </section>




    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        </ul>
        <div class="copyright">
            <ul class="menu">
                <li>&copy; lucaTic - Grupo 01. Formación 18</li><br>
                <li>Desing by: <br>
                    Luis A. Ibáñez Rubio<br> Andreea Iliescu<br>Raúl Algar Navarro<br>
                    Pablo Tortosa</li>
            </ul>
        </div>
    </section>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body></html>
