#login{
    width: 50%;
    margin:auto;
}

#logoprincipal{
    display: block;
    width: 45%;
    margin-left: 53%;
    margin-bottom: 10%;
}

#header{
    padding-top:3%;
    padding-bottom: 5%;
    
}

/* no parecen los br */
/*@media screen and (max-width: 1000px){}*/
.main > header br {
   display:enabled;
}
/*.content dark style1 featured{
    background-image: url(images/pareja-feliz.jpg);
}*/
#img2{
    background-image: url(images/pareja-feliz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
}

#registro1{
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 0%;
    color:white;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
  filter:brightness(100%);
}

#botonregistro{
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
    
}
#botonregistro2{
    margin:auto;
    margin-top:0%;
    margin-right: 1%;
}
div#login.input-group{
    
    border:1px solid grey;
    
}
.card{
    padding: 1%;
    background-color: white;
    opacity: 0.9;
    border:2px solid;
    border-color:darksalmon;
    width: 75%;
    border-radius:20px;
    margin: auto;
        
}
.card-img-top{
    width: 100%;
    margin: auto;
    margin-bottom: 3%;
    background-color: antiquewhite;
    margin-top: 0%;
}

#columna1{
    color: black;
    text-align: left;
}
#titulodescripcion{
    color:black;
    font-size: 1.3em;
    font-weight: bold;
    font-family:sans-serif;
}
#descripcionusuario{
    color: black;
    font-family:sans-serif;
    font-size: 0.85em;
}
#idusuarioperfil{
    font-size: 1.3em;
}
#barranavusuario{
    margin-top: 5%;
}

.list-group-item{
	color:black;
	
}
.btn-danger{
	    float: left;
}
.btn-success{
	float:right;
}

.table{
	background:white;
	opacity: 0.9;
	
	font-family: Bree serif;
	border: 2px solid grey;
	
}

.table th{
	font-weight:bold;
	font-size: 1.4em;
}

.formulariologin{
	width:15%;
	margin:auto;
}

#tituloformu{
	font-family: Bree serif;
	font-size:1.3em;
	font-weight:bold;
}

.icon.brands.fa-twitter{
    background-image: url(../assets/images/iconotwitter.jpg);
    background-size: cover;
}

.icon.brands.fa-facebook-f{
    background-image: url(../assets/images/iconofacebook.jpg);
    background-size: cover;
}

.icon.brands.fa-instagram{
    background-color: url(../assets/images/iconoinstagram.jpg);
    background-size: cover;
}

.icon.brands.fa-github{
    background-color: url(../assets/images/iconogithub.jpg);
    background-size: cover;
}

#menunav{
    margin-left: 40%;
}

#botonnav{
    margin-top:20%;
    margin-left: 1%;
    margin-right: 1%;
}