.contenedor {
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 2%;
    background: rgba(255, 0, 0, 1);
    background: -moz-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 12%, rgba(246, 41, 12, 1) 31%, rgba(232, 57, 14, 1) 45%, rgba(230, 166, 39, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(12%, rgba(255, 0, 0, 1)), color-stop(31%, rgba(246, 41, 12, 1)), color-stop(45%, rgba(232, 57, 14, 1)), color-stop(100%, rgba(230, 166, 39, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 12%, rgba(246, 41, 12, 1) 31%, rgba(232, 57, 14, 1) 45%, rgba(230, 166, 39, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 12%, rgba(246, 41, 12, 1) 31%, rgba(232, 57, 14, 1) 45%, rgba(230, 166, 39, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 12%, rgba(246, 41, 12, 1) 31%, rgba(232, 57, 14, 1) 45%, rgba(230, 166, 39, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 12%, rgba(246, 41, 12, 1) 31%, rgba(232, 57, 14, 1) 45%, rgba(230, 166, 39, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#e6a627', GradientType=0);
}



.img-fluid {
    text-align: center;
    margin: 2%;

}

#registro {
    border: 1px solid black;
    border-radius: 15%;
    padding: 2%;
}

#tituloform {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.7em;
    text-decoration: underline
}

#campo {
    margin-left: 2%;
    margin-bottom: 0.5%;
}

#entrar {
    padding: 2%;
    border: 1px solid black;
    border-radius: 15%;
    margin-bottom: 5%;
}

#formularios {
    padding: 1%;

    margin: 10%;
    margin-bottom: 2%;
    -o-box-shadow: 10px 10px 10px #555;
    -icab-box-shadow: 10px 10px 10px #555;
    -khtml-box-shadow: 10px 10px 10px #555;
    -moz-box-shadow: 10px 10px 10px #555;
    -webkit-box-shadow: 10px 10px 10px #555;
    box-shadow: 10px 10px 10px #555;
}


#botonregistrarse {
    display: block;
    margin: auto;
}
