
    <section id="header" class="dark">
      <header>
        <img id="logoprincipal" src="../assets/images/logo3.png">
      </header>
      <footer>
  

<div id="menunav">
          
          <button type="button" class="btn btn-secondary" id="botonnav" data-toggle="tooltip"
          data-placement="top" title="Tooltip on top" hidden> <a routerLink="/login" hidden>Login</a>
  </button>

 
</div>
  <!--<button type="button" class="btn btn-secondary" data-toggle="tooltip"
          data-placement="right" title="Tooltip on right"> <a routerLink="/profiles">Perfil de Usuario</a>
  </button>-->
  
 <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip"
          data-placement="left" title="Tooltip on left"> <a routerLink="/lista">Lista de Usuarios</a>
  </button> -->
  
  <router-outlet></router-outlet>

  <button type="button" class="btn btn-secondary" id="botonnav" data-toggle="tooltip"
  data-placement="bottom" title="Tooltip on bottom" hidden> <a routerLink="/new" hidden>Regístrate</a>
</button>

      </footer>
    </section>

    
    <section id="footer">
        <ul class="icons">
          <li><a href="#" class="icon brands fa-twitter"><span
              class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-facebook-f"><span
              class="label">Facebook</span></a></li>
          
        </ul>
        <div class="copyright">
          <ul class="menu">
            <li>&copy; lucaTic - Grupo 01. Formación 18</li>
            <br>
            <li>Desing by: <br> Luis A. Ibáñez Rubio<br> Andreea
              Iliescu<br>Raúl Algar Navarro<br> Pablo Tortosa
            </li>
          </ul>
        </div>
      </section>


        <!--<app-profile></app-profile>-->
<!--<app-new></app-new>-->



