<div style="text-align:center">
  <h1>{{ title }}!</h1>
    <section id="header" class="dark">
      <header>
        <img id="logoprincipal" src="../assets/images/logo3.png">
      </header>
      <footer>
  
        //jej
  
  
      </footer>
    </section>

      <div class="content dark style1 featured" id="img2">
          <div class="container">
             <!-- <app-profile></app-profile>-->
            
    
          </div>
        </div>
<app-new></app-new>
      
<router-outlet></router-outlet>
</div>

