<div style="text-align:center">
  <h1>{{ title }}!</h1>
    <section id="header" class="dark">
      <header>
        <img id="logoprincipal" src="../assets/images/logo3.png">
      </header>
      <footer>
  
        <!--<app-login></app-login>-->
  
  
      </footer>
    </section>

      <div class="content dark style1 featured" id="img2">
          <div class="container">
           <!--<app-profile></app-profile>-->
            
    
          </div>
        </div>
<app-new></app-new>

<app-lista-usuarios></app-lista-usuarios>
<!--<app-new></app-new>-->
<a routerLink="/profiles">perfil</a><br>
<a routerLink="/lista">lista</a><br>
<a routerLink="/login">login</a><br>
<a routerLink="/new">crear</a>
<router-outlet></router-outlet>
</div>

