<div id="frame">
<form id="formularioregistro">
  <div class="form-group">
    <label id="registro1" for="nombre">Nombre:</label>
    <input type="nombre" [(ngModel)]="user.nombre" placeholder= "Introduce tu nombre" name="nombre" class="form-control" id="login">
  </div>

  <div class="form-group">
    <label id="registro1" for="nombre">Fecha de Nacimiento:</label>
    <input [(ngModel)]="user.edad" placeholder="dd/MM/yyyy" name="edad" class="form-control" id="login" type="date">
  </div>

  <div class="form-group">
    <label id="registro1" for="nombre">Ciudad de Residencia:</label>
    <input [(ngModel)]="user.poblacion" placeholder="¿Donde vives?" name="poblacion" class="form-control" id="login">
  </div>

  <button class="button scrolly" id="botonregistro" (click)="createUser()">Dar de alta</button>
</form> 
</div>
<!--
<div class="content dark style1 featured">

  <div class="container">
    -->
    <!--<div class="col-md-6">
        <h2 class="text-center">Añadir Usuario</h2>
     
    <form id="formularioregistro" method="post" th:object="${user}" th:action="@{/save}">
      <label id="registro1" for="nombre">Nombre:</label>
      <div class="input-group" id="login">

        <input type="text" class="form-control"
          placeholder="Introduce tu nombre" aria-label=""
          aria-describedby="basic-addon1" th:field="*{nombre}">
      </div>
      <label id="registro1" for="nombre">Fecha de Nacimiento:</label>
      <div class="input-group" id="login">
        <input class="form-control" type="date" value="15/10/2016"
          id="edad" th:value="${#dates.format(edad,'dd/MM/yyyy')}"
          th:name="edad" />


      </div>
      <label id="registro1" for="nombre">Ciudad de Residencia:</label>
      <div class="input-group" id="login">
        <input type="text" class="form-control"
          placeholder="¿Dónde vives?" aria-label=""
          aria-describedby="basic-addon1" th:field="*{poblacion}">
      </div>
      <input type="submit" id="botonregistro" class="button scrolly"
        value="Dar de alta" />

    </form>

  </div>
</div>-->

