<div id="anchoperfil">


<div class="card">

    <div class="container">
      <div class="row">

        <div class="col-sm-8" id="columna1">

          <ul id="listadatosusuario">
            <li id="idusuarioperfil">Id Usuario: <span>{{user.id}}</span></li>
            <li>Nombre: <span>{{user.nombre}}</span></li>
            <li>Fecha de nacimiento: <span>{{user.edad}}</span></li>
            <li>Género: <span>{{user.genero}}</span></li>
            <li>Población: <span>{{user.poblacion}}</span></li>
          </ul>
          <p>
            <span id="titulodescripcion">Descripción</span>
          </p>
          <p id=descripcionusuario>{{user.descripcion}}</p>
          <!-- Content -->
        </div>

        <div class="col-sm-4">
          <img class="card-img-top"
            src="../../../assets/images/iconousuario.jpg" alt="Card image cap">
          <a ng-href="#" class="button scrolly" id="botonregistro2">Modificar
            perfil</a>

          <!-- Content -->
        </div>

      </div>
    </div>




  </div>

  <ul class="nav nav-pills nav-justified" id="barranavusuario">
      <li class="nav-item"><a  class="button scrolly"
        id="botonregistro2"  routerLink="/lista">Buscar Gente</a></li>
      <!--<li class="nav-item"><a ng-href="#" class="button scrolly"
        id="botonregistro2">Mis Ligues</a></li>-->
      <li class="nav-item"><a class="button scrolly" id="botonregistro2"  routerLink="/"> Cerrar Sesión</a></li>
    </ul>

   
  </div>